*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/Img/FOTOS/fondo-de-wapp_Mesa-de-trabajo-1-1-scaled-1.jpg);
    color: #ffffff;
    background-size: cover;
}

nav{
    text-align: center;
}
.menu{
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 0;
    width: 650px;
    margin: 50px auto;
    border-radius: 20px;
}
.menu .item{
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
}
.menu .item a{
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.menu .item a:hover{
    background-color: rgba(237, 0, 0, 0.801);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.section1{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin: 50px auto;
    width: 60%;
    margin-bottom: 15px;
    margin-top: 100px;
    line-height: 3rem;
}
.blanco img{
    border-radius: 20px;
    width: 1000px;
    position: relative;
    margin-left: 200px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: .8;
    border: 2px double rgb(255, 255, 255);
}
.blanco img:hover{
    opacity: 1;
    border: solid white 2px;
}
.pie{
    text-align: right;
    margin-right: 225px;
    margin-bottom: 100px;
    margin-top: 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
}
.exp{
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
.cuadro{
    margin: auto;
    width: 400px;
    height: 300px;
}
legend{
    font-size: 20px;
    background-color: #fffbfb56;
    border-radius: 0px;
    margin-bottom: 10px;
    margin: 10px;
    margin-top: 30px;
    color: #ffffff;
}
form label{
    background-color: #ffffff86;
    font-size: 20px;
    margin-left: 10px;
}
.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.creador{
    color: #cfcfcf;
    text-align: right;
    font-size: 15px;    
    width: 100%;
    bottom: 0;
}
.uno{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-right: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
}
.flecha img{
    width: 40px;
    margin-top: 20px;
    margin-right: 90%;
}
h1{
    text-align: center;
    padding: 10px;
    margin: 0px;
}
.listasplantel{
margin-top: 20px;
text-align: center;
font-size: 30px;
color: white;
}
.arquero{
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}
.defensores{
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}
.medio{
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}
.delantero{
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}
.cp{
    font-size: 20px;
    margin-right: 50px;
    list-style-type: none;
}
.plantel{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 10px;
    text-decoration: underline;
    color: white;
    text-align: center;
}
.prox{
    background-color: #ffffffac;
    width: 250px;
    font-size: 25px;
    margin: 5px;
    color: #ffffff;
    border-radius: 10px;
}
.cancha img{
    width: 700px;
    border-radius: 20px;
    transition: all 2S;
    margin-left: 350px;
}
.cancha img:hover{
    width: 650px;
    margin-left: 380PX;
}
.estadio{
    text-align: center;
    margin: 10px auto;
    color: white;
}
h2, h3{
    font-family: 'Comfortaa', cursive;
}
.libertadores img{
    width: 120px;
    margin-left: 200px;
    transition: all 2s;
}
.libertadores img:hover{
    width: 100px;
}
.hislali{
    text-align: left;
    font-size: 20px;
    width: 800px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 150px;
}
.teximagen{
    display: flex;
}
.titulocopa{
    margin: 10px;
    margin-top: 30px;
    font-size: 30px;
}
.imasuda img{
    width: 250px;
    margin-left: 130px;
    transition: all 2s;
}
.imasuda img:hover{
    transform: rotate(45deg);
}
.titulocopasuda{
    margin: 10px;
    margin-top: 30px;
    font-size: 30px;
}
.superco img{
    width: 150px;
    margin-left: 225px;
    transition: all 2s;
}
.superco img:hover{
    transform: scale(1.2, 1.2);
}
.hissupercopasuda{
    margin-top: 50px;
}
.imarecopa img{
    width: 250px;
    margin-left: 140px;
    transition: all 2s;
}
.imarecopa img:hover{
    width: 220px;
}
.hisrecopa{
    margin-bottom: 50px;
}
.imainter img{
    width: 300px;
    margin-left: 100px;
    transition: all 2s;
}
.imainter img:hover{
    transform: rotate(45deg);

}
.imacopamundo img{
    width: 130px;
    margin-left: 240px;
    margin-bottom: 200px;
    transition: all 2s;
}
.imacopamundo img:hover{
    width: 100px;
}
.hiscopamundo{
    margin-bottom: 200px;
}
.fin{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
    margin-left: 350px;
}
.elunico{
    text-align: center;
    font-size: 40px;
}
.titavellaneda{
    margin: 10px;
    font-size: 40px;
    margin-top: 40px;
    width: 400px;
}
.datossedea{
    margin: 10px;
    width: 400px;
    font-size: 30px;
}
.sedeboya{
    margin: 10px;
    font-size: 40px;
    margin-top: 40px;
    width: 400px;
}
.datosedeboya{
    margin: 10px;
    width: 400px;
    font-size: 30px;
}
.volver{
    position: absolute;
    bottom: 0;
}
.volver a{
    margin-left: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff8c;
    width: 225px;
    font-size: 20px;
    bottom: 0;
}
.dossedes{
    text-align: center;
    margin-left: 500px;
}
.titulosede{
    font-size: 50px;
    text-decoration: underline;
}
.info{
    color: white;
}
.arqu{
    width: 800px;
    text-align: center;
    margin-left: 590px;
}
.listasnone{
    list-style-type: none;
}
.unavida{
    font-size: 50px;
    margin-bottom: 200px;
}