<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="./css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Asociate</title>
</head>
<body>
    <header>
        <h1 class="exp">Se parte de nuestra historia</h1>
    </header>
    <main>
        <form target="_blank" action="https://socios.clubaindependiente.com.ar/FrmSociosWeb.aspx">
           <fieldset class="cuadro">
             <legend>Completa con tus datos</legend>
             <div>
                 <label for="Name">Escribe tu nombre *</label>
                 <input type="text" name="name" placeholder="Ricardo" required>
             </div>
             <br>
             <div>
                 <label for="apellido">Escribe tu apellido *</label>
                 <input type="text" name="apellido" placeholder="Bochini" required>
             </div>
             <br>
             <div>
                 <label for="email">Escribe tu mail *</label>
                 <input type="email" name="email" placeholder="ejemplo@gmail.com" required>
             </div>
             <br>
             <div>
                 <label for="id">Dni</label>
                 <input type="Id" name="11.111.111">
             </div>
             <br>
             <div>
                 <label for="terminos">acepta terminos y condiciones</label>
                 <input type="checkbox" name="terminos" value="1" required>
             </div>
             <br>
             <div class="boton">
                 <input class="enviar" type="submit" value="enviar">
                 <input class="borrar" type="reset" value="borrar datos">
             </div>
            </fieldset>
        </form>
    </main>
</body>
<footer>
	<div class="creador">
		<p> © 2022 Desarrollado por Mathias </p>
	 </div>
    <div class="volver">
        <a href="/index.html"> Volver a la pagina principal</a>
     </div>
</footer>
</html>