<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
    <link rel="stylesheet" href="./css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Informacion</title>
</head>
<body>
    <h1>
        Informacion del Cub Atletico Independiente
    </h1>
    <h2 class="plantel">
         Plantel Profesional
    </h2>
    <div class="listasplantel">
        <ol>
            <li> Arqueros
                <ul>
                    <li class="arquero">Sebastian Sosa, Milton Alvarez, Renzo Bachhia, Diego Segovia</li>
                </ul>
            </li>
            <hr>
            <li>
            Defensores
                <ul><li class="defensores"> Gonzalo Asis, Sergio Barreto, Lucas Rodriguez, Patricio Ostachuk, Juan Insaurralde, Joaquin Laso, Alex  Vigo</li>
                </ul>
            </li>
            <hr>
            <li>Mediocampistas
                <ul> <li class="medio"> Alan Soñora, Lucas Gonzalez, Juan Roman Zarza, Lucas Romero, Tomas Pozzo, Ivan Marcone, Juan Cazares, Gabriel Hachen, Sergio Ortiz</li>
                </ul>
            </li>
            <hr>
            <li> Delanteros
                <ul> <li class="delantero"> Rodrigo Marquez, Leandro Fernandez, Damian Batallini, Facundo Ferreyra, Nicolas Vallejos </li>
                </ul>
            </li>
            <hr>
            <li>
            Cuerpo Tecnico
                <ul> <li class="cp"> Julio Cesar Falcioni, Omar Picoli, Pedro Monzon</li></ul>
            </li>
        </ol>
    </div>
    <br>
    <nav>
        <h3 class="prox">
        <a href="https://www.google.com/search?q=independiente&rlz=1C1ONGR_esAR999AR999&oq=in&aqs=chrome.0.69i59j46i39j69i57j69i59l2j0i131i433i512l2j0i131i433j0i131i433i512j46i131i433.3945j0j15&sourceid=chrome&ie=UTF-8#cobssid=s"> Proximo Partido</a>
        </h3>
    </nav>
    <br>
    <h3 class="estadio">
        Haz click en la foto y ve a la casa del Rey de Copas
    </h3>
    <div class="cancha">
        <a href="https://www.google.com/maps/place/Libertadores+de+Am%C3%A9rica+-+Ricardo+Enrique+Bochini/@-34.6702197,-58.3713407,15z/data=!4m5!3m4!1s0x0:0xdb9a534cc563fa7!8m2!3d-34.6702197!4d-58.3713407"> <img src="/assets/Img/FOTOS/o_1658595505.jpg" alt=""></a>
    </div>
</body>
<br>
<footer>
	<div>
		<p class="creador"> © 2022 Desarrollado por Mathias </p>
	 </div>
    <div class="uno">
        <a href="/index.html"> Volver a la pagina principal</a>
     </div>
</footer>
</html>