<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Información</title>
</head>
<body>
    <h1 class="info">
        Información del Cub Atlético Independiente
    </h1>
    <h2 class="plantel">
         Plantel Profesional
    </h2>
    <div class="listasplantel">
        <ol class="listasnone">
            <li> Arqueros
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <nav class="arqu">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                           <img src="../assets/Img/FOTOS/sosa.jpg" class="d-block w-25" alt="sosa">
                         </div>
                         <div class="carousel-item">
                           <img src="..//assets/Img/FOTOS/bacchia.jpg" class="d-block w-25" alt="bachia">
                         </div>
                         <div class="carousel-item">
                           <img src="../assets/Img/FOTOS/Álvarez.jpg" class="d-block w-25" alt="milton">
                         </div>
                         <div class="carousel-item">
                          <img src="../assets/Img/FOTOS/segovia.jpg" class="d-block w-25" alt="segovia">
                         </div>
                        </div>
                    </nav>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <ul>
                    <li class="arquero">Sebastian Sosa, Milton Alvarez, Renzo Bachhia, Diego Segovia</li>
                </ul>
            </li>
            <br>
            <li> Defensores
                  <div id="carouselExampleControls1" class="carousel slide1" data-bs-ride="carousel1">
                    <nav class="arqu">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                         <img src="../assets/Img/FOTOS/asís.jpg" class="d-block w-25" alt="asis">
                        </div>
                        <div class="carousel-item">
                            <img src="..//assets/Img/FOTOS/barreto.jpg" class="d-block w-25" alt="barreto">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/Img/FOTOS/rodriguez.jpg" class="d-block w-25" alt="lucas">
                        </div>
                        <div class="carousel-item">
                                <img src="../assets/Img/FOTOS/ostachuk.jpg" class="d-block w-25" alt="Patricio">
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Img/FOTOS/insaurralde.jpg" class="d-block w-25" alt="insaurralde">
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Img/FOTOS/laso.jpg" class="d-block w-25" alt="laso">
                        </div>
                        <div class="carousel-item">
                                <img src="../assets/Img/FOTOS/vigo.jpg" class="d-block w-25" alt="vigo">
                        </div>
                        <div class="carousel-item">
                              <img src="../assets/Img/FOTOS/elizalde.jpg" class="d-block w-25" alt="eli">
                        </div>
                    </div>
                    </nav>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
                 <ul><li class="defensores"> Gonzalo Asis, Sergio Barreto, Lucas Rodriguez, Patricio Ostachuk, Juan Insaurralde,    Joaquin Laso, Alex  Vigo, Edgar Elizalde</li>
                 </ul>
            </li>
            <li>Mediocampistas
                <div id="carouselExampleControls2" class="carousel slide2" data-bs-ride="carouse2">
                    <nav class="arqu">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                         <img src="../assets/Img/FOTOS/soñora.jpg" class="d-block w-25" alt="alan">
                        </div>
                        <div class="carousel-item">
                            <img src="..//assets/Img/FOTOS/gonzalez.jpg" class="d-block w-25" alt="salta">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/Img/FOTOS/romero.jpg" class="d-block w-25" alt="perro">
                        </div>
                        <div class="carousel-item">
                                <img src="../assets/Img/FOTOS/marcone.jpg" class="d-block w-25" alt="Ivan">
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Img/FOTOS/cazares.jpg" class="d-block w-25" alt="cazares">
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Img/FOTOS/hachen.jpg" class="d-block w-25" alt="hachen">
                        </div>
                        <div class="carousel-item">
                                <img src="../assets/Img/FOTOS/pozzo.jpg" class="d-block w-25" alt="pozzo">
                        </div>
                    </div>
                    </nav>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
                <ul> <li class="medio"> Alan Soñora, Lucas Gonzalez, Lucas Romero, Ivan Marcone, Juan Cazares, Gabriel Hachen, Tomas Pozzo</li>
                </ul>
            </li>
            <li> Delanteros
                <div id="carouselExampleControls3" class="carousel slide3" data-bs-ride="carouse3">
                    <nav class="arqu">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                         <img src="../assets/Img/FOTOS/marquez.jpg" class="d-block w-25" alt="marquez">
                        </div>
                        <div class="carousel-item">
                            <img src="..//assets/Img/FOTOS/fernandez.jpg" class="d-block w-25" alt="lean">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/Img/FOTOS/batallini.jpg" class="d-block w-25" alt="batallini">
                        </div>
                        <div class="carousel-item">
                                <img src="../assets/Img/FOTOS/ferreyra.jpg" class="d-block w-25" alt="ferreyra">
                        </div>
                        <div class="carousel-item">
                             <img src="../assets/Img/FOTOS/benegas.jpg" class="d-block w-25" alt="benegas">
                        </div>
                    </nav>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
                <ul> <li class="delantero"> Rodrigo Marquez, Leandro Fernandez, Damian Batallini, Facundo Ferreyra, Nicolas Vallejos, Leandro Benegas </li>
                </ul>
            </li>
            <li>
            Cuerpo Técnico
            <div id="carouselExampleControls4" class="carousel slide4" data-bs-ride="carouse4">
                <nav class="arqu">
                 <div class="carousel-inner">
                    <div class="carousel-item active">
                     <img src="../assets/Img/FOTOS/falcioni.jpg" class="d-block w-25" alt="falcioni">
                    </div>
                    <div class="carousel-item">
                </div>
                </nav>
            </div>
                <ul> <li class="cp"> Julio Cesar Falcioni</li></ul>
            </li>
        </ol>
    </div>
    <br>
    <nav>
        <h3 class="prox">
        <a href="https://www.google.com/search?q=independiente&rlz=1C1ONGR_esAR999AR999&oq=in&aqs=chrome.0.69i59j46i39j69i57j69i59l2j0i131i433i512l2j0i131i433j0i131i433i512j46i131i433.3945j0j15&sourceid=chrome&ie=UTF-8#cobssid=s"> Proximo Partido</a>
        </h3>
    </nav>
    <br>
    <h3 class="estadio">
        Haz click en la foto y ve a la casa del Rey de Copas
    </h3>
    <div class="cancha">
        <a href="https://www.google.com/maps/place/Libertadores+de+Am%C3%A9rica+-+Ricardo+Enrique+Bochini/@-34.6702197,-58.3713407,15z/data=!4m5!3m4!1s0x0:0xdb9a534cc563fa7!8m2!3d-34.6702197!4d-58.3713407"> <img src="../assets/Img/FOTOS/o_1658595505.jpg" alt="cancha"></a>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <br>
    <footer>
        <div>
            <nav class="flecha">
                <a href="/index.html"><img src="../assets/Img/FOTOS/flechas-izquierda.png" alt="flecha"></a>
            </nav>
            <p class="uno">Volver al menú</p>
        </div>
        <div>
	    	<p class="creador"> © 2022 Desarrollado por Mathias </p>
	    </div>
    </footer>
</body>
</html>