<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">}
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Nuestra Historia</title>
</head>
<body>
    <h1 class="unavida">
        Una vida de grandeza
    </h1>
    <h2 class="titulocopa">
        Copa Libertadores
    </h2>
    <div class="teximagen">
      <div class="hislali">
         <p>
         El club Atletico Independiente es, hasta hoy en dia, el unico en ganar 7 veces la copa libertadores, lo hizo en los años.. 1964, 1965, 1972, 1973, 1974, 1975 y 1984. Desde entonces nadie lo puede igualdar ni superar.
         En 1964 Independiente le gano la final 1 a 0 a Nacional de Montevidio, en la ida empataron sin goles y en la vuelta en Avellaneda, el conjunto rojo gano por la minima, coronandose por primera vez de la copa libertadores
         En 1965, al año siguiente volvio a ganarla. Le gano la final a Peñarol de Uruguay. Fue 3 a 1 en uruguay y 4 a 1 en Avellaneda, en el global fue un 5 a 4 a favor de Independiente.
         De 1972 a 1975 la gano consecutivamente y en 18984 fue la ultima vez en coronarse campeon en esta competicion tan deseada por America. Es el unico equipo, ademas de tener 7, en ganar todas las finales que jugo
         </p>
       </div>
        <div class="libertadores">
          <img src="../assets/Img/FOTOS/lali.png" alt="">
        </div>
    </div>
    <br>
    <h2 class="titulocopasuda">
        Copa Sudamericana
    </h2>
    <div  class="teximagen">
       <div class="hislali">
        <p>
            Independiente gano la copa sudamericana en 2 oportunidades, en el año 2010 y 2017.
            En el año 2010 le gano a Goias de Brasil en Avellaneda por penales, de la mano del tecnico Turco Mohamed.
            En el año 2017 se la gano de nuevo a un equipo brasilero, nada mas ni nada menos que el Flamengo en el Maracana por 1 a 0, de la mano de Ariel Holan, tan recordado ese equipo por su buen juego, que gracias a el volvio a ilusionarse la hinchada con el paladar negro del Independiente de los años 70.
        </p>
       </div>
       <div class="imasuda">
        <img src="../assets/Img/FOTOS/suda.png" alt="">
       </div>
    </div>
    <br>
    <h2 class="titulocopasuda">
        Recopa Sudamericana
    </h2>
    <div  class="teximagen">
       <div class="hislali">
        <p class="hisrecopa">
            En 1995 Independiente le gano 1 a 0 a Velez y salio campeon de la recopa sudamericana, Velez campeon de la libertadores (1994) e Independiente campeon de la supercopa sudamericana(1994), ambos jugaron esa final por esos motivos.
        </p>
       </div>
       <div class="imarecopa">
            <img src="../assets/Img/FOTOS/recopasudamericana.png" alt="">
       </div>
    </div>
    <br>
    <h2 class="titulocopasuda">
        Interamericana
    </h2>
    <div  class="teximagen">
       <div class="hislali">
        <p>
            Independiente gano la copa Interamericana en los años 1973, 1974, 1976. Jugo dicha copa por ganar la copa libertadores del año anterior que jugo contra Olimpia de Honduras, ese equipo gano la copa de campeones llamada concacaf, que la jugan todos los de America central. 
            Ese partido Independiente le gano a Olimpia en el global 4 a 1.
        </p>
       </div>
       <div class="imainter">
        <img src="../assets/Img/FOTOS/Intercontinental.png" alt="">
       </div>
    </div>
    <br>
    <h2 class="titulocopasuda">
        SuperCopa Sudamericana
    </h2>
    <div  class="teximagen">
       <div class="hislali">
        <p>
            En el año 1994 y 1995 Independiente la gano en esos 2 años.
            En 1994 le gano en el global por 2 a 1 a Boca Jr.
            En el año 1995 le gano al Flamengo de Brasil, en el Maracana. Cabe destacar que en el año 2017 y 1995 Independiente da 2 vueltas olimpicas en dicho estadio, ya que es el unico equipo en el mundo en hacerlo. 
        </p>
       </div>
       <div class="superco">
        <img src="../assets/Img/FOTOS/supercopa.jfif" alt="">
       </div>
    </div>
    <br>
    <h2 class="titulocopasuda">
        Copa Intercontinental
    </h2>
    <div  class="teximagen">
       <div class="hislali">
        <p class="hiscopamundo">
            Independiente gano esta copa en los años 1973 y 1984 por ganar la copa libtertadores participo de dicha copa, que se enfrentaba al campeon de la copa de campeones de Europa. Ahora esta copa se llama mundial de clubes la juega cada capeon de cada continente
        </p>
       </div>
       <div class="imacopamundo">
        <img src="../assets/Img/FOTOS/copa del mundo club.png" alt="">
       </div>
    </div>
    <br>
    <h3 class="elunico">
        El Unico Rey
    </h3>
    <p class="fin">
        Independiente es llamado rey de copas, por se el primer club en llegar a ganar 12 copas internacionales, al llegar a 12 copas, como los naipes y se le otorgo el nombre Rey de copas 
    </p>
    <br>
    <footer>
        <div>
            <nav class="flecha">
                <a href="../index.html"><img src="../assets/Img/FOTOS/flechas-izquierda.png" alt="flecha"></a>
            </nav>
            <p class="uno">Volver al menú</p>
        </div>
        <div>
            <p class="creador"> © 2022 Desarrollado por Mathias</p>
        </div>
    </footer>
</body>
</html>