<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
    <link rel="stylesheet" href="../css/estilo.css">	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Sedes</title>
</head>
<body>
    <h1 class="titulosede">
        Las 2 sedes de Independiente
    </h1>
    <div class="container-flex text-center dossedes">
        <div class="row">
            <div class="col-md-6 mt-5 text-center">
                <h2 class="titavellaneda text-light text-center">
                    Sede Avellaneda
                </h2>
                <p class="datossedea ">
                    La sede social de Avellaneda queda Av.      Mitre 470 (1870).
                    <br>
                    Te podes contactar al tel: 4229-7600 o 
                    via mail: socios@clubaindependiente.com.ar
                </p>
            </div>
            <div class="col-md-6 mt-5 text-center">
                <h2 class="sedeboya">
                    Sede Boyaca
                </h2>
                <p class="datosedeboya"> La sede Boyaca de Capital
                    Boyacá 470.
                    <br>
                    Te podes contactar al tel: 4633-7527 o via mail: boyaca@clubaindependiente.com.ar
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <nav class="flecha">
                <a href="/index.html"><img src="../assets/Img/FOTOS/flechas-izquierda.png" alt="flecha"></a>
            </nav>
            <p class="uno">Volver al menú</p>
        </div>
        <div>
            <p class="creador"> © 2022 Desarrollado por Mathias</p>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>