<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="icon" href="../assets/Img/FOTOS/favicon.ico">
    <link rel="stylesheet" href="./css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Sedes</title>
</head>
<body>
    <h1 class="titulosede">
        Las 2 sedes de Independiente
    </h1>
    <div class="dossedes">
        <div>
           <h2 class="titavellaneda">
             Sede Avellaneda
           </h2>
           <p class="datossedea">
              La sede social de Avellaneda queda Av.      Mitre 470 (1870).
              Te podes contactar al tel: 4229-7600 o 
              via mail: socios@clubaindependiente.com.ar
           </p>
        </div>
        <div>
            <h2 class="sedeboya">
             Sede Boyaca
            </h2>
            <p class="datosedeboya"> La sede Boyaca de Capital
                 Boyacá 470.
                 te podes contactar al tel: 4633-7527 o via mail: boyaca@clubaindependiente.com.ar
            </p>
        </div>
    </div>
</body>
<footer>
    <div>
		<p class="creador"> © 2022 Desarrollado por Mathias </p>
	 </div>
    <div class="volver">
    <a href="/index.html">Volver a la pagina principal</a>
    </div>
</footer>
</html>